{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Sporting Goods | Welcome</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>

	<header>
		<div class="container">
			<div id="branding">
				<h1><span class="highlight">The Sporting Goods Store</span></h1>
			</div>
			<nav>
				<ul>
					<li><a href="{%url 'AdminHome'%}">Home</a></li>
					<li><a href="{%url 'admin_products' %}">Inventory</a></li>
					<li><a href="{%url 'admin_view_orders'%}">Orders</a></li>
					<li><a href="{%url 'index'%}">Log Out</a></li>
				</ul>
			</nav>
		</div>
    </header>

{%block contents%}

{%endblock%}




  </body>
</html>
