{%extends 'admins/adminbase.html'%}
{%block contents%}
<section id="showcase1">
		<div class="container">
			<h1>WELCOME !!</h1>
			<p>Get Your Game On.!</p>
			<p>
				We are implementing a sporting goods store which can be a one stop shop for all items related to customers favourite sports.
				This project will facilitate the daily operations of a store by providing a database which will manage customers and also will manage the store inventory, a frontend application which will access the database and will display the result.
			</p>
			<p>Note this project has been built with: </p>
			<ul>
				<ol>Python DJango Framework- which is a high-level Python web framework that enables rapid development of secure and maintainable websites </ol>

				<ol>MySQL as a backend Database</ol>
			</ul>
			<h3>To help you get started, we have also set up:</h3>

			<p>Inventory Management: Click On Inventory option present in the options tab- All store inventory is managed Here. This is basically admin panel where he can manage the inventory. Using this option, he can add a new product, delete/update existing products in inventory. </p>
			<p>Orders: All transactions happening at the store and orders are recorded here.</p>
			<p>LogOut:To logout from this Admin Panel</p>


		</div>



</section>
	{%endblock%}