{%extends 'users/userbase.html'%}
{%block contents%}
 <section id="showcase2">
     <div class="container">
         <h3>Hello, This is a Sporting goods Store !</h3>
			<p>Get Your Game On.!</p>
			<p>This is a sporting goods store which can be a one stop shop for all items related to your favourite sports.
				This project will facilitate the daily operations of a store by providing a database which will manage customers and also will manage the store inventory, a frontend application which will access the database and will display the result on UI.
			</p>
			<p>Note this project has been built with: </p>
			<ul>
				<ol>Python DJango Framework- which is a high-level Python web framework that enables rapid development of secure and maintainable websites </ol>
				<ol>MySQL as a backend Database</ol>
			</ul>

     </div>

</section>
{%endblock%}